.Countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.country{
    border: 3px solid goldenrod;
    border-radius: 20px;
    background-color: aqua;
    padding: 20px;
}
.country img{
    width: 200px;
}
.rest{
    text-align: center;
    color: black;
    font-size: 50px;
}